/* ROOT VARIABLES */
:root {
    --color-black: #000000;
    --color-gray: #4d4c4c;
    --color-purple: #5c2dd5;
    --color-violet: #7945ff;
    --color-red: #fd6687;
    --color-yellow: #ffce67;
    --color-white: #ffffff;

    --font-l: 56px;
    --font-m: 24px;
    --font-s: 20px;
    --font-xs: 16px;
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');
body {
    font-family: 'Space Grotesk', sans-serif;
}

/* GENERAL */
*, *::before, *::after {
    box-sizing: border-box;
}

body,html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* UTILITY */
.yellow {
    background-color: var(--color-yellow);
}

.main {
    width: 100%;
}

/* CHOICES */
.choices-container {
    width: 100%;
    height: 100vh;
    background-color: var(--color-violet);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choices-container .logo {
    margin-bottom: 2rem;
}

.choices-container .btn {
    font-size: var(--font-s);
    color: var(--color-black);
    border: 4px solid var(--color-black);
    display: flex;
    align-items: center;
    font-weight: 700;
    width: 18rem;
    height: 4.5rem;
    justify-content: space-between;
    padding: 0 2rem;
    margin: 1rem 0;
    border-radius: 1.2rem;
    cursor: pointer;
    border-bottom: 10px solid var(--color-black);
}

.choices-container .btn:hover {
    border: 4px solid var(--color-purple);
    border-bottom: 10px solid var(--color-purple);
    transition: all 1s ease-out;
}

.choices-container .btn__img {
    width: 2.5rem;
}

.choices-container.display {
    display: none;
}

/* BORDER */
.border {
    width: 100%;
    height: 100vh;
    background-color: var(--color-violet);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    max-width: 475px;
}

.header .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
    margin: 2rem 0;
}

.header .btn-small {
    width: 6.75rem;
    height: 2.4375rem;
    background-color: #5c2dd5;
    border:  none;
    border-radius: 1rem;
    font-weight: 700;
    color: var(--color-white);
    cursor: pointer;
}

.header .btn-small:hover {
    background-color: var(--color-red);
}

.header .logo {
    width: 3.125rem;
}

.header .player {
    background-color: var(--color-white);
    display: flex;
    border: 3px solid var(--color-black);
    border-radius: .5rem .5rem 1.5rem 1.5rem;
    border-bottom: 10px solid var(--color-black);
    width: 8.875rem;
    height: 5.0625rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .player__img {
    position: absolute;
    width: 2rem;
    left: -1rem;
    top: 25%;
}

.header .player-right {
    left: 7.4rem;
}

.header .player p {
    font-weight: 700;
    margin: .1rem 0;
}

.header .player__title {
    font-size: var(--font-xs);
}

.header .player__points {
    font-size: var(--font-m);
}


.game-border {
    position: relative;
    z-index: 5;
    top: 1rem;
    width: 21rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.border__img {
    position: absolute;
    z-index: 2;
    width: 21rem;
    pointer-events: none;
}

.border__img-back {
    position: absolute;
    z-index: -1;
    left: 0;
    top: .01rem;
    pointer-events: none;
}

.column {
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.border-bottom {
    position: absolute;
    width: 100%;
    height: 40%;
    background-color: var(--color-purple);
    border-radius: 3.2rem 3.2rem 0 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border.display {
    display: none;
}

.circle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    z-index: -1;
    
}

@keyframes from_top_to_bottom {
    from {
        transform: translateY(-500%);
    }
    to {
        transform: translateY(0);
    }
}

.circle-X {
    background-color: var(--color-red);
    animation: from_top_to_bottom .5s ease-out;
    
}

.circle-O {
    background-color: var(--color-yellow);
    animation: from_top_to_bottom .5s ease-out;
}



.player-turn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    z-index: 10;
    margin-top: 6rem;
}

.player-turn__img {
    position: absolute;
    width: 191px;
    height: 150px;
    z-index: -1;
}


.player-turn p {
    font-weight: 700;
    margin-bottom: .5rem;
    font-size: var(--font-xs);
}

.player-turn.display {
    display: none;
}

.player-win {
    background-color: var(--color-white);
    width: 18rem;
    z-index: 10;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    border: 3px solid var(--color-black);
    border-bottom: 12px solid var(--color-black);
}


.player-win p {
    font-weight: 700;
}

.player-win h1 {
    font-size: var(--font-l);
    margin: .5rem 0 0;
}

.player-win.display {
    display: none;
}

.play-again {
    background-color: var(--color-violet);
    color: var(--color-white);
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.play-again:hover {
    background-color: var(--color-red);
}



/* RULES */
.rules {
    position: absolute;
    top: 5rem;
    background-color: var(--color-white);
    z-index: 10;
    width: 80%;
    left: 10%;
    padding: 2rem;
    border: 3.5px solid var(--color-black);
    border-bottom: 15px solid var(--color-black);
    border-radius: 2rem;
}

.rules__title {
    text-align: center;
    margin-bottom: 2rem;
}

.rules__p-violet {
    margin: 1.5rem 0;
    color: var(--color-violet);
    font-weight: 700;
}

.rules__p {
    color: var(--color-gray);
}

.rules__ol {
    width: 100%;
}

.rules__li {
    margin: 1rem 0;
    color: var(--color-gray);
    display: flex;
}

.rules__li p:first-child {
    margin-right: .5rem;
    color: var(--color-black);
}

.rules__check-icon {
    position: absolute;
    left: 50%;
    translate: -50%;
    cursor: pointer;
}

.rules.display {
    display: none;
}

/* MENU */
.menu {
    position: absolute;
    top: 5rem;
    background-color: var(--color-violet);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 29.6875rem;
    max-width: 90%;
    border: 3px solid var(--color-black);
    border-bottom: 10px solid var(--color-black);
    border-radius: 1rem;
    z-index: 10;
}

.menu__title {
    color: var(--color-white);
    font-size: var(--font-l);
    margin: 2rem 0;
}

.menu .continue-btn {
    color: var(--color-black);
    width: 18.4375rem;
    height: 4.5rem;
    border: 3px solid var(--color-black);
    border-bottom: .5rem solid var(--color-black);
    background-color: var(--color-white);
    border-radius: 1rem;
    font-weight: 700;
    font-size: var(--font-xs);
    margin: 1rem 0;
    cursor: pointer;
}

.menu .restart-btn-2 {
    color: var(--color-black);
    width: 18.4375rem;
    height: 4.5rem;
    border: 3px solid var(--color-black);
    border-bottom: .5rem solid var(--color-black);
    background-color: var(--color-white);
    border-radius: 1rem;
    font-weight: 700;
    font-size: var(--font-xs);
    margin: 1rem 0;
    cursor: pointer;
}

.menu .quit-btn {
    color: var(--color-white);
    width: 18.4375rem;
    height: 4.5rem;
    border: 3px solid var(--color-black);
    border-bottom: .5rem solid var(--color-black);
    background-color: var(--color-red);
    border-radius: 1rem;
    font-weight: 700;
    font-size: var(--font-xs);
    margin: 1rem 0 3rem;
    cursor: pointer;
}

.continue-btn:hover,
.restart-btn-2:hover,
.quit-btn:hover {
    border: 3px solid var(--color-purple);
    border-bottom: .5rem solid var(--color-purple);
}

.menu.display {
    display: none;
}